* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
.hamburger-menu{
    position:fixed;
    left: 3.2rem;
    top: 1rem;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    border-top: 1px solid #fff;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color:midnightblue;
    border: Gold 3px solid;
}

.clicked{
    background-color: #4f4f9e;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4f4f9e;
}
.show {
    display: flex;
    flex-direction: column;
}
h1{
    margin: 1rem
}
.calendar-description{
    max-width: 70%;
    font-size: max(4%, 20px);
    overflow-wrap: break-word;
    line-height: 1.4;
    margin-bottom: 3vh;
}

.calendar-title{
    font-size: max(6%, 24px);
    margin-bottom: 1rem;
}

.calendar-time{
    font-size: max(4%, 18px);
    margin-bottom: 1rem;
    margin-top:3vh;
}
.calendar-day{
    font-size: max(6%, 24px);
    text-align: center;
    margin-top: 4.2vh;
    padding-top: 2vh;
    background-color: #4f4f9e;
    height: 9vh;
    width: 9vh;
    border-radius: 20px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.calendar-location{
    font-size: max(4%, 18px);
    margin-bottom: 1rem;
}

.calendar-element {
    display: flex;
    border: 3px solid gold;
    background-color: midnightblue;
}

.calendar{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper{
    padding-top: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color:white;
    flex-direction: column;
}

.navbar{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 3rem; 
    background-color: lightgray;
    font-size: max(20%, 20px);
    /*font-family:Copperplate;*/
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    z-index: 100;
}
.navbar div{
    display: flex;
    justify-content: center;
}
.home{
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

}
.home-section{
    border: 3px solid gold;
    min-width: 200px;
    width: 30%;
    max-width: 100%;
    min-height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:midnightblue;
    margin-bottom: 2vh;
}

.home{
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: space-evenly;
}

.calendar-day-home{
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
    font-size: max(10%, 20px);
    text-align: center
}

.calendar-element-home{
    width: 95%;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #2f2f7e;
}
.calendar-day1{
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2f2f7e;
}
.calendar-day2{
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    background-color: #2f2f7e;
}
.current-weather{
    font-size: max(10%, 25px);
    color: rgb(255, 196, 45); 
    display:flex; 
    align-items:center;
    gap: 12px;
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        margin-left: 1vw;
        margin-right:1vw;
    }

    .home-section {
        flex: auto;
        margin-bottom: 20px;
        /* Add some space between sections */
    }
    .calendar-day{
        margin-top: 3.8vh;
        padding-top: 1.5vh;
    }
}

.forecast-element{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.calendar-day1{
    width: 90%;
    height: fit-content;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2f2f7e;
}
.calendar-day2{
    width: 90%;
    height: fit-content;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #2f2f7e;
}
.hot-cold{
    background: linear-gradient(to right, #ff5100,#01e6ff,#01e6ff, #ff5100);
    animation: gradient 2s linear infinite;
    background-size: 200% 100%;
    animation-fill-mode: forwards;
    background-clip: text;
    color: transparent;
}
.rainbow {
    background: linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #00FF00, #4f4f9e, #6f5bac, #9327e0, #EE82EE, #FF0000);
    animation: gradient 2s linear infinite;
    background-size: 200% 100%;
    animation-fill-mode: forwards;
    background-clip: text;
    color: transparent;
}
.food-data{
    display:none;
    align-items: center;
}
.icon{
    height: 2.8rem;
    width: auto;
    position:fixed;
    top: 0.2rem;
    left: 0.2rem;
    z-index: 30;
}
.interior-map{
    height:60vh;
    width: auto;
}



.food-item-home{
    width: 95%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2f2f7e;
    height:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.food-time-home{
    font-size: large;
    margin-bottom: 4px;
}
.food-station{
    margin-bottom: 12px;
}
.food-title{
    font-size: x-large;
}
.food-description{
    margin-bottom: 4px;
}
.food-color{
    margin-bottom: 4px;
}
.food-allergens{
    margin-bottom: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.food-allergen{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.pathing-button {
    font-size: small;
}
.find-path-button {
    font-size: small;
    height:fit-content;
}

.pathing-dropdown {
    display: none;
    height:fit-content
}


.pathing-page {
    background-color: midnightblue;
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    
    flex-direction: column;
    min-width:200px;
    max-width: 100%;
    min-height: calc(100vh - 4.5rem);
    border: gold solid 3px;
    align-items: center;
}
.pathing-form{
    display: none;
    flex-direction: column;
    align-items: center;
}
.unhide{
    display: flex;
}

.Red{
    border: red solid 3px;
}

.Green{
    border: green solid 3px;
}

.Yellow{
    border: yellow solid 3px;
}

.calendar-day1, table, tr, td{
    padding-left: 3px;
    padding-right: 3px;
}

.show-food {
    display:block;
}