{% extends "navbar.html" %} 
{% block content %}
<head>
    <style>
      #searchDropdown, #searchInput {
        font-size: 18px;
        font-family: Arial, sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
      }
    </style>
  </head>
<div id="calendar" class="calendar">
  <div style="display: flex; justify-content: space-between;">
    <select id="searchDropdown" name="searchDropdown" style="width: 16%;">
      <option value="0" selected>By Title</option>
      <option value="1">By Description</option>
      <option value="2">By Date and Time</option>
      <option value="3">By Location</option>
    </select>
    <input type="text" id="searchInput" style="width: 83%;" placeholder="Search by title..." />
  </div>
  {% for item in calendar %}
  <div class="calendar-element">
    <div class="calendar-day">
      {{ item[2][0][0] }}{{ item[2][0][1] }}{{ item[2][0][2] }}<br />{{item[2][2]}}
    </div>
    <div style="width: 80%; align-items: flex-end">
      <p class="calendar-time">
        {{ item[2][1] }} {{ item[2][2] }} @ {{ item[2][4] }}
      </p>
      <p class="calendar-title">{{ item[0] }}</p>
      <p class="calendar-location">{{item[1]}}</p>
      <p class="calendar-description">{{item[3]}}</p> 
      

    </div>
  </div>
  {% endfor %}
</div>
<script>
  document.getElementById("searchInput").addEventListener("input", function (){
    var filter, elements, text, i;
    var searchMethod = document.getElementById("searchDropdown").value;
    var className;

    switch (searchMethod) {
      case '0':
        className = "calendar-title";
        break;
      case '1':
        className = "calendar-description";
        break;
      case '2':
        className = "calendar-time";
        break;
      case '3':
        className = "calendar-location";
        break;
    }

    filter = document.getElementById('searchInput').value.toUpperCase();
    elements = document.getElementById("calendar").getElementsByClassName('calendar-element');

    for (i = 0; i < elements.length; i++) {
      text = elements[i].getElementsByClassName(className)[0];
      if (text) {
        text = text.textContent || text.innerText;
        if (text.toUpperCase().indexOf(filter) > -1) {
          elements[i].style.display = "";
        } else {
          elements[i].style.display = "none";
        }
      }
    }
  });

  document.getElementById("searchDropdown").addEventListener("change", function (){
    var searchInput = document.getElementById("searchInput");
    switch (this.value) {
      case '0':
        searchInput.placeholder = "Search by title...";
        break;
      case '1':
        searchInput.placeholder = "Search by description...";
        break;
      case '2':
        searchInput.placeholder = "Search by date or time...";
        break;
      case '3':
        searchInput.placeholder = "Search by location...";
        break;
    }
  });
</script>
{% endblock %}
