{% extends "navbar.html" %}

{% block content %}


<div class="home">
    <div class="home-section" style="margin-right:3vw;">
        <h1>Events Today</h1>
        {%for item in calendar%}
            <div class="calendar-element-home">
                <div class="calendar-day-home">{{ item[2][0][0] }}{{ item[2][0][1] }}{{ item[2][0][2] }}<br>{{item[2][2]}}</div>
                <!--title: GroupEx Gentle Yoga-->
            
                <div style="width:80%;align-items:flex-end;">
                    <p class="calendar-time">{{ item[2][1] }} {{ item[2][2] }} @ {{ item[2][4] }}</p>
                    <!--time: -->
                    <p class="calendar-title">{{ item[0] }}</p>
                    <p class="calendar-location">{{item[1]}}</p>

                </div>
                <!--title ,location ,('Friday', 'February', '9', '2024', '12:00 PM'), description-->
            </div>
        {%endfor%}
        {%if calendar|length == 0%}
            <div style="font-size: max(20%, 50px);
    text-align: center;color:gold">No Events Today</div>
        {%endif%}
    </div>
    <div class="home-section" style="margin-right:3vw;">
        <h1>Weather</h1>
        <div class="calendar-day1">
                <h1  class="hot-cold">Current Weather</h1> <!-- current weather here-->
        
                <div style="font-size: max(10%, 25px);color: rgb(255, 196, 45);">  <b>{{ weather.current.temp_f  }}°F</b><img src ="{{fcast.current.condition.icon}}" alt ="{{fcast.current.condition.text}}"></div> 
        
                <div><b>feels like {{weather.current.feelslike_f}}°F</b></div>


                <div><b>Current condition is: {{fcast.current.condition.text}}</b></div>  
                <div><b> {{weather.current.wind_mph}} mph  {{weather.current.wind_dir}}</b></div>
         
                <div><b> {{weather.current.humidity}}% humidity</b> </div>
                <div><b>the uv is: {{weather.current.uv}}</b> </div>
                
        </div>
        <div  class="calendar-day1">
            <div>
                <h1 class="hot-cold"> HOURLY</h1>  
            </div>
            <b>
            <div>8 am: {{fcast.forecast.forecastday[0].hour[8].temp_f}} F</div>
            
            <div>10 am: {{fcast.forecast.forecastday[0].hour[10].temp_f}} F</div>
            
            <div>Noon: {{fcast.forecast.forecastday[0].hour[12].temp_f}} F</div>
            
            <div>2 pm: {{fcast.forecast.forecastday[0].hour[14].temp_f}} F</div> 

            <div>4 pm: {{fcast.forecast.forecastday[0].hour[16].temp_f}} F</div>

            <div>6 pm: {{fcast.forecast.forecastday[0].hour[18].temp_f}} F</div>

            <div>8 pm: {{fcast.forecast.forecastday[0].hour[20].temp_f}} F</div>
            </b>
        </div>
        <div class="calendar-day2">

            <div> 
                <h1 class="hot-cold"> Tomorrow's weather</h1>
                <div class="calendar-day2">
                <b>
                    <div style="display: flex; flex-direction: column;">  
                        <div style="color:#ff4000;">{{fcast.forecast.forecastday[1].day.maxtemp_f}} </div> 
                        <div style="color:aqua"> {{fcast.forecast.forecastday[1].day.mintemp_f}} </div>    
                    </div>
                    <div><img src ="{{fcast.forecast.forecastday[1].day.condition.icon}}" alt ="{{fcast.forecast.forecastday[1].day.condition.text}}" > </div>
                    <div>Max wind: {{fcast.forecast.forecastday[1].day.maxwind_mph}} </b></div>
                </div>
            </div> 
        </div>

    </div>
    <div class="home-section" style="margin-right:3vw;">
        <h1>Dining Hall Food</h1>
    </div>

</div>

{% endblock %}