((day_of_week, month, day_of_month, year, time))
{% extends "navbar.html" %}

{% block content %}
    <div class="message-form">
        <form id="messageForm" name="messageForm" action="/sendMessage" method="POST">
            <input type="text" spellcheck="false" autocorrect="off" id="messageContent" name="messageContent" placeholder="Enter a message: "/>
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="messages">
    {% for message in messages %}
    <div class="message-box">
    <div class="message-time">{{message[2]}}</div>
    <div class="message-content">{{message[1]}}</div>
    </div>
    {% endfor %}
    </div>
{% endblock %}