<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="body">
    <div id="navbar" class="navbar">
        <div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/events">EVENTS</a></li>
                <li><a href="/paths">PATH</a></li>
                <li><a href="/calendar">CALENDAR</a></li>
            </ul>
        </div>
    </div>

    <!-- Content from other templates will be inserted here -->
    <div class="content-wrapper">{% block content %}{% endblock %}</div>

</body>

</html>