{% extends "navbar.html" %}

{% block content %}

<script lang="js">
    let Direction = [1, 1];
    const Locations = [[
        ["-1", "Select Parking Lot                                  "],
        ["0", "The lot behind Kingston"]], 
        [
        ["-1", "Select Building"],
        ["80", "Academic Center"],
        ["24", "Athletic Center"],
        ["54", "Belknap"],
        ["150", "Conway Hall"],
        ["78", "Dining Hall"],
        ["111", "Gustafson Welcome Center"],
        ["136", "Hampton Hall"],
        ["65", "Hospitality Center"],
        ["20", "Kingston Hall"],
        ["117", "Learning Commons"],
        ["153", "Lincoln Hall"],
        ["115", "Madison House"],
        ["167", "Mark A. Ouellette Stadium"],
        ["127", "Morrissey House"],
        ["116", "Monadnock Hall"],
        ["10", "New Castle Hall"],
        ["113", "Operations Center"],
        ["63", "Robert A. Freese Student Center"],
        ["64", "Robert Frost Hall"],
        ["168", "SETA"],
        ["165", "SETA Annex"],
        ["158", "Tuckerman Hall"],
        ["32", "Washington Hall"],
        ["86", "Webster Hall"],
        ["38", "William S. and Joan Green Center for Student Success"],
        ["136", "Windsor Hall"],
        ["17", "Exeter Hall"]
    ]];

    function FromB() {
        Direction[0] = 1;
        updateFromBuildingDropdown();
    }
    function FromP() {
        Direction[0] = 0;
        updateFromBuildingDropdown();
    }
    function ToB() {
        Direction[1] = 1;
        updateToBuildingDropdown();
    }
    function ToP() {
        Direction[1] = 0;
        updateToBuildingDropdown();
    }

    function updateFromBuildingDropdown() {
        const fromBuildingDropdown = document.getElementById("fromBuildingDropdown");
        fromBuildingDropdown.innerHTML = "";
        Locations[Direction[0]].forEach(item => {
            const option = document.createElement("option");
            option.value = item[0];
            option.textContent = item[1];
            fromBuildingDropdown.appendChild(option);
        });
    }

    function updateToBuildingDropdown() {
        const toBuildingDropdown = document.getElementById("toBuildingDropdown");
        toBuildingDropdown.innerHTML = "";
        Locations[Direction[1]].forEach(item => {
            const option = document.createElement("option");
            option.value = item[0];
            option.textContent = item[1];
            toBuildingDropdown.appendChild(option);
        });
    }
</script>

<div>
    From:
    <button onclick="FromB()">Building</button>
    <button onclick="FromP()">Parking Lot</button>
</div>
<div>
    To:
    <button onclick="ToB()">Building</button>
    <button onclick="ToP()">Parking Lot</button>
</div>


<form action="/paths/find" method="POST">
    <label for="fromBuildingDropdown">From:</label>
    <select class="FromBuilding" id="fromBuildingDropdown" name="fromBuildingDropdown" style="width:52ch">
    </select>
    <label for="toBuildingDropdown">To:</label>
    <select id="toBuildingDropdown" name="toBuildingDropdown" style="width:52ch">
    </select>
    <button type="submit">Find Path</button>
</form>

{% endblock %}