<!DOCTYPE html>
<header>Pathing</header>
<form action="/paths/find" method="POST">
    <label for="fromDropdown">From:</label>
    <select id="fromDropdown" name="fromDropdown">
        <option value="80">Academic Center</option>
        <option value="24">Athletic Center</option>
        <option value="54">Belknap</option>
        <option value="150">Conway Hall</option>
        <option value="78">Dining Hall</option>
        <option value="111">Gustafson Welcom Center</option>
        <option value="136">Hampton Hall</option>
        <option value="65">Hospitality Center</option>
        <option value="20">Kingston Hall</option>
        <option value="117">Learning Commons</option>
        <option value="153">Lincoln Hall</option>
        <option value="115">Madison House</option>
        <option value="167">Mark A. Ouellette Stadium</option>
        <option value="127">Morrissey House</option>
        <option value="116">Monadnock Hall</option>
        <option value="10">New Castle Hall</option>
        <option value="113">Operations Center</option>
        <option value="63">Robert A. Freese Student Center</option>
        <option value="64">Robert Frost Hall</option>
        <option value="168">SETA</option>
        <option value="165">SETA Annex</option>
        <option value="158">Tuckerman Hall</option>
        <option value="32">Washington Hall</option>
        <option value="86">Webster Hall</option>
        <option value="38">William S. and Joan Green Center for Student Success</option>
        <option value="136">Windsor Hall</option>
        <option value="17">Exeter Hall</option>
        <option value="-1">Use Current Location</option>
    </select>
    <label for="toDropdown">To:</label>
    <select id="toDropdown" name="toDropdown">
        <option value="80">Academic Center</option>
        <option value="24">Athletic Center</option>
        <option value="54">Belknap</option>
        <option value="150">Conway Hall</option>
        <option value="78">Dining Hall</option>
        <option value="111">Gustafson Welcom Center</option>
        <option value="136">Hampton Hall</option>
        <option value="65">Hospitality Center</option>
        <option value="20">Kingston Hall</option>
        <option value="117">Learning Commons</option>
        <option value="153">Lincoln Hall</option>
        <option value="115">Madison House</option>
        <option value="167">Mark A. Ouellette Stadium</option>
        <option value="127">Morrissey House</option>
        <option value="116">Monadnock Hall</option>
        <option value="10">New Castle Hall</option>
        <option value="113">Operations Center</option>
        <option value="63">Robert A. Freese Student Center</option>
        <option value="64">Robert Frost Hall</option>
        <option value="168">SETA</option>
        <option value="165">SETA Annex</option>
        <option value="158">Tuckerman Hall</option>
        <option value="32">Washington Hall</option>
        <option value="86">Webster Hall</option>
        <option value="38">William S. and Joan Green Center for Student Success</option>
        <option value="136">Windsor Hall</option>
        <option value="17">Exeter Hall</option>
    </select>
    <button type="submit">Find Path</button>
</form>

<div>
    
</div>
</html>