{% extends "navbar.html" %}

{% block content %}
<h1 style="color:Black; text-align:center; font-size:xx-large;">User Created Events</h1>
<div class="calendar">
    {% for event in events %}
    <div class="calendar-element">
        <div class="calendar-day">{{ event[2][0][0] }}{{ event[2][0][1] }}{{ event[2][0][2] }}<br>{{event[2][2]}}</div>
        <div style="width:80%;align-items:flex-end;">
            <p class="calendar-time">{{ event[2][1] }}{{event[2][2]}}, {{event[2][3]}} @ {{ event[2][4] }}</p>
            <p class="calendar-title">{{ event[0] }}</p>
            <p class="calendar-location">{{ event[1] }}</p>
            <p class="calendar-description">{{ event[3] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
<!--(title, location, time, description)
(event[1], event[2], (d.strftime('%A'), mon, day_of_month, year, time), event[5]))-->